.entry-block {
    height: calc(100vh - 150px);
    aspect-ratio: 1 / 1.5;
    max-width: 90%;
    margin: 0 auto;
    background-color: #283740;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .entry-block {
        height: calc(100vh - 100px);
    }
}

.entry-block img {
    width: 30%;
    margin-top: 20px;
}

.entry-input-block {
    display: flex;          
    flex-direction: column; 
    gap: 15px;
    margin-top: 15px;
    width: 90%;
    height: fit-content;
}

.entry-input-btn {
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;

    background-color: #4F6273;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;;
    cursor: pointer; 
}

.entry-input-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}



