.entry-block {
    height: calc(100vh - 150px);
    aspect-ratio: 1 / 1.5;
    margin: 0 auto;
    background-color: #283740;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.entry-block img {
    width: 30%;
    margin-top: 20px;
}

.entry-header {
    font-size: clamp(15px, 1.5vw + 0.3vh, 28px);
    font-weight: 700;
    color: #FFFBF4;
    margin: 0;
    margin-top: 10px;
}

.entry-input-block {
    display: flex;          
    flex-direction: column; 
    gap: 15px;
    margin-top: 30px;
    width: 90%;
    height: 40%;
}

.entry-input,
.entry-input-btn {
    height: 18%;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.entry-input{
    background-color: #BFB1A4;
    color: #283740;
    padding-left: 20px;
}

.entry-input-btn {
    background-color: #4F6273;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    color: #FFFBF4;
}

.entry-input p,
.entry-input-btn p {
    margin: 0;
}

.entry-input p {
    font-size: 98%;
    font-weight: 300;
}

.entry-input-btn p {
    font-size: 110%;
    font-weight: 500;
}

.entry-input-btn :hover {
    transform: scale(1.05); /* увеличиваем на 5% */
    cursor: pointer; 
}



