.header {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
.header-content {
    height: 100px;
    max-width: 1320px;
    display: flex;
    flex-direction: row;           
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;        
}

.header-content h1 {
    margin: 0;
    font-family: 'Rubik Doodle Shadow';
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.header-buzz-icon {
    width: 115px;
    height: 70px;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.settings-wrapper {
    position: relative;
    z-index: 20;
}

.settings-wrapper img {
  position: relative; /* чтобы z-index сработал */
  z-index: 30; /* выше чем у Settings */
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
}

.settings-wrapper img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.settings-wrapper img.rotated {
  transform: rotate(360deg); /* повернуть на 180° */
}