.header {
    width: 100%;
}
.header-content {
    height: 100px;
    width: 1320px;
    display: flex;
    flex-direction: row;           
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;        
}

.header-content h1 {
    margin: 0;
    font-family: 'Rubik Doodle Shadow';
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.header-buzz-icon {
    width: 115px;
}

.header-icons {
    display: flex;
    gap: 15px;
}