.header {
    width: 100%;
    height: fit-content;
    padding: 0 5%;
    box-sizing: border-box;
}

.header-content {
    height: 100px;
    display: flex;
    flex-direction: row;           
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;  
}

.header-buzz-img {
    height: 70px;
}

.buzz {
    margin: 0;
    font-family: 'Rubik Doodle Shadow';
    font-size: clamp(32px, 10vw + 1vh, 64px);
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.header-icons {
    display: flex;
    gap: 15px;
    height: 50px;
    align-items: center;
}

.header-wrapper {
    position: relative;
    z-index: 20;
    display: flex; 
    align-items: center;
}

.header-wrapper-img {
  position: relative; /* чтобы z-index сработал */
  z-index: 110; /* выше чем у Settings */
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #283740;
}

.header-wrapper-img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.header-wrapper-img.rotated {
  transform: rotate(360deg); /* повернуть на 180° */
}

.notification {
    position: absolute;
    top: -2px;
    left: -4px;
    z-index: 40;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
}

.notification.ring {
    animation: ring 0.5s ease-in-out;
}

@keyframes ring {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-15deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.header.hidden .header-content{
    justify-content: center;
}

.header.hidden .header-buzz-img,
.header.hidden .header-icons {
  display: none;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: row; /* оставляем горизонтально */
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 5px 0;
        gap: 10px;
    }

    .header-buzz-img {
        height: 40px; /* меньше логотип */
        width: auto;  /* сохраняем пропорции */
    }

    .buzz {
        font-size: clamp(20px, 6vw + 1vh, 32px); /* уменьшаем размер текста */
        line-height: 1;
    }

    .header-icons {
        gap: 10px;
        height: auto;
    }

    .header-wrapper-img {
        width: 40px;  /* уменьшаем иконки */
        height: 40px;
    }
}

