.input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;

    background-color: #BFB1A4;
    padding-left: 20px;
    box-sizing: border-box;
}

.input input::placeholder {
    color: #283740;
}

.input input::placeholder:hover {
    color: #4F6273;
}