.input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #BFB1A4;
  padding: 0 20px;
  box-sizing: border-box;
}

.input input {
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  color: #283740;
}

.input input::placeholder {
  color: #283740;
}

.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #BFB1A4 inset !important;
  -webkit-text-fill-color: #283740 !important;
  font-family: 'Comfortaa', sans-serif !important;
  caret-color: #283740;
  transition: background-color 9999s ease-in-out 0s;
}

input:-webkit-autofill {
  animation-name: autofill-fix;
  animation-fill-mode: both;
}

@keyframes autofill-fix {
  from {}
  to {}
}
