/* Девый блок стартового меню */

.start-menu {
    background-color: #283740;
    border-radius: 20px;
}



/* Общий стиль заголовков */

.left-block-header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.left-block-header-name {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-block-header img {
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.left-block-header img:hover {
    transform: scale(1.05);
}

.left-block-header p,
.left-block-header-name p{
    color: #FFFBF4;
    font-size: clamp(15px, 1.3vw + 0.3vh, 28px);
    font-weight: 700;
    margin: 0;
}

.left-block-header-name img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

/* Блок голосовго чата */

.voice-chat-block {
    background-color: #283740;
    border-radius: 20px;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.voice-chat {
    flex: 1;
    min-height: 0;
    margin: 10px 20px;
    background: linear-gradient(180deg, #D7D9D8 0%, #BFB1A4 60%);
    border-radius: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.voice-chat-header {
    font-weight: 600;
    margin: 0 15px;
    color: #283740;
    font-size: clamp(15px, 1.2vw + 0.3vh, 22px);
}

.voice-chat-members {
    list-style: none;
    padding: 0;
    margin: 5px 15px;
    overflow-y: auto; /* 👈 включаем вертикальный скролл */
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.voice-chat-members::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.voice-chat-member {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.voice-chat-member p {
    font-weight: 400;
    margin: 0;
    color: #283740;
    font-size: clamp(12px, 1.0vw + 0.3vh, 20px);
}

.voice-chat-member img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.invite-voice-chat-btn {
    height: 40px;
    border: none;
    border-top: 2px solid #4F6273;
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.invite-voice-chat-btn :hover {
    transform: scale(1.05);
}

.invite-voice-chat-btn p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: clamp(15px, 1vw + 0.4vh, 22px);
    color: #283740;
    margin: 0;
}


/* Панель пользователя в голосовом чате */

.user-voice {
    margin: 0 20px;
    margin-top: auto;
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-voice-chat-member {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.user-voice-chat-member p {
    font-weight: 400;
    margin: 0;
    color: #FFFBF4;
    font-size: clamp(14px, 1.1vw + 0.3vh, 22px);
}

.user-voice-chat-member img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-voice-chat-member p {
    margin: 0;
}

.voice-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}


/* Блок закрепленного сообщения */

.pinned-message {
    background-color: #283740;
    border-radius: 20px;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.pinned-message-text {
    margin: 0 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: clamp(13px, 1.1vw + 0.4vh, 18px);
    color: #FFFBF4;
    overflow-y: auto; /* 👈 включаем вертикальный скролл */
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pinned-message-text::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

