


.voice-wrapper {
  position: relative; /* для позиционирования меню */
  display: inline-block;
}

.empty-message,
.loading-message,
.error-message {
  margin: 0 20px;
  text-align: center;
  white-space: pre-line;
}



