/* Общий стиль блока */

.left-block {
    width: 100%;
    max-width: 450px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background-color: #283740;
    border-radius: 20px;

    position: relative;
}

@media (max-width: 1024px) {
    .left-block {
        max-width: 810px;
    }
}

@media (max-width: 900px) {
    .left-block {
        height: calc(100vh - 100px);
    }
}


/* Общий стиль заголовков */

.left-block-header {
    padding-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
    margin: 0 20px;
    box-sizing: border-box;
}

.left-block-header-name {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-block-header-btn {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.left-block-header-btn:hover {
    box-shadow: 4px 4px 2px rgba(0,0,0,0.35);
}


.left-block-header-name img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.dots-wrapper {
  position: relative; /* для позиционирования меню */
  display: inline-block;
}




