.list {
    margin: 0;
    padding: 0;
    margin: 0 20px;
    margin-bottom: 15px;
    flex:1;
}

.list-element,
.list-element-with-status {
    border-bottom: 1px solid #BFB1A4;
    height: 60px;

    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.list-element {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.list-element-name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.list-element:hover {
    cursor: pointer;
    background: rgba(32, 45, 52, 0.48);
}

.list-element-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.list-element-name p {
    color: #FFFBF4;
    font-size: clamp(14px, 1.0vw + 0.3vh, 18px);
    font-weight: 400;
    margin: 0;
}

.list-element-status{
    font-size: clamp(10px, 0.8vw + 0.4vh, 14px);
    color:#BFB1A4;
    font-weight: 300;
}