.list {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    flex:1;
    min-height: 0;

    overflow-y: auto;
    overflow-x:hidden;
    scrollbar-width: thin; /* тонкая полоса */
    width: 92%;
}

.list--light {
    scrollbar-color: #BFB1A4 rgba(0,0,0,0);
}

.list--dark {
    scrollbar-color: #4F6273 rgba(0,0,0,0);
}

.list::-webkit-scrollbar {
  width: 8px; /* ширина полосы */
}

.list::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 10px;
}

.list--active::-webkit-scrollbar-thumb {
  background-color: #BFB1A4; /* цвет ползунка */
  border-radius: 10px;
}

.list--passive::-webkit-scrollbar-thumb {
  background-color: #4F6273; /* цвет ползунка */
  border-radius: 10px;
}

.list-element {
    position: relative;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:15px;
    width: 100%;
    border-bottom: 1px solid #BFB1A4;
}

.list-element--active {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.list-element--active:hover {
    cursor: pointer;
    background: rgba(32, 45, 52, 0.48);
}

.list-element-name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.list-element-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.list-element-name-request {
    padding-right: 50px;
    box-sizing: border-box;
}

.list-status {
    position: absolute;
    top: 2px;
    right: 0;
    box-sizing: border-box;
}

.list-admin-btn {
    position: absolute;
    top: 8px;
    right: 0;
    box-sizing: border-box;
}

.request-buttons {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: flex;
    gap: 5px;
    margin-left: 10px;
}

.accept-btn,
.reject-btn,
.cancel-btn {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px #729DA6 solid;
}

.accept-btn img,
.reject-btn img,
.cancel-btn img {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.accept-btn img:hover,
.reject-btn img:hover,
.cancel-btn img:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.accept-btn,
.accept-status {
    background-color: #C5E3E8;
  
}
.reject-btn,
.reject-status {
    background-color: #F2E4D8;

}
.cancel-btn {
    background-color: #283740;
}

.request-status {
    height: 20px;
    padding: 0 2px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
}

.voice-buttons {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.voice-btn {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
}

.voice-btn img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.voice-btn img:hover {
    transform: translateY(-2px);
}


