.list {
    margin: 0;
    padding: 0;
    margin: 0 20px;
    margin-bottom: 15px;
    flex:1;

    overflow-y: auto;
    scrollbar-width: thin; /* тонкая полоса */
    scrollbar-color: #BFB1A4 rgba(0,0,0,0); /* цвет ползунка и фона */
}

.list--light {
    scrollbar-color: #BFB1A4 rgba(0,0,0,0);
}

.list--dark {
    scrollbar-color: #4F6273 rgba(0,0,0,0);
}

.list::-webkit-scrollbar {
  width: 8px; /* ширина полосы */
}

.list::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 10px;
}

.list--light::-webkit-scrollbar-thumb {
  background-color: #BFB1A4; /* цвет ползунка */
  border-radius: 10px;
}

.list--dark::-webkit-scrollbar-thumb {
  background-color: #4F6273; /* цвет ползунка */
  border-radius: 10px;
}

.list-element {
    border-bottom: 1px solid #BFB1A4;
    height: 60px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:15px
}

.list-element-name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.list-element:hover {
    cursor: pointer;
    background: rgba(32, 45, 52, 0.48);
}

.list-element-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.list-element-name p {
    color: #FFFBF4;
    font-size: clamp(14px, 1.0vw + 0.3vh, 18px);
    font-weight: 400;
    margin: 0;
}

.list-element-status{
    font-size: clamp(10px, 0.8vw + 0.4vh, 14px);
    color:#BFB1A4;
    font-weight: 300;
}