.start-list {
    margin: 0;
    padding: 0;
    margin: 0 20px;
}

.start-list-element {
    border-bottom: 1px solid #BFB1A4;
    height: 60px;

    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;

    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.start-list-element:hover {
    cursor: pointer;
    background: rgba(32, 45, 52, 0.48);
}

.start-list-element img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;;
}

.start-list-element p {
    color: #FFFBF4;
    font-size: clamp(14px, 1.0vw + 0.3vh, 18px);
    font-weight: 400;
    margin: 0;
}