.menu {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #F2E4D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 10px 10px;
    z-index: 100;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.6);
}

.left-menu {
    position: absolute;
    top: 100%; /* под иконкой */
    left: 50%; /* центр относительно иконки */
    transform: translateX(-50%); /* смещение для центрирования */
}
    
.menu-btn {
    width: 180px;
    height: fit-content;
    padding: 8px 10px;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.menu-btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.menu-btn {
    font-family: 'Comfortaa', sans-serif;
    font-size: clamp(10px, 1vw + 0.2vh, 14px);
    color: #FFFBF4;
}

.blue-menu-btn {
    background-color: #729DA6;
}

.gray-menu-btn {
    background-color: #4F6273;
}

.dark-menu-btn {
    background-color: #283740;
}


.message-menu-btn {
    width: fit-content;
    min-width: 85px;
    height: fit-content;
    padding: 6px 3px;
    padding-top: 0;
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #283740;
    text-decoration: none;
    transition: color 0.2s ease;
}

.message-menu-btn{
    font-family: 'Comfortaa', sans-serif;
    font-size: clamp(10px, 1vw + 0.2vh, 14px);
    font-weight: 500;
    color: #4F6273;
}

.message-menu-btn:hover {
    cursor: pointer;
    color: #283740;
    font-weight: 700;
}