/* Общий стиль */

.modal {
    position: fixed;           /* Привязка к вьюпорту */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;   /* Горизонтальное центрирование */
    align-items: center;       /* Вертикальное центрирование */
    z-index: 9999;             /* Поверх всего */
    overflow: hidden;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px); /* вот ключевое свойство */
    -webkit-backdrop-filter: blur(10px);
}


/* Модальное окно - уведомление */

.modal-content {
    position: relative;
    width: fit-content;
    max-width: 500px;
    margin: 0 20px;
    height: fit-content;
    background-color: #4F6273;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px 25px;
    box-sizing: border-box;
}


/* Общий стиль - кнопка закрыть */

.modal-close-btn {
    background-color: #4F6273;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform 0.2s ease;
    padding: 0;
}

.modal-close-btn:hover {
    transform: translateY(-2px);
    cursor: pointer;
}


/* Модальное окно - добавление */

.modal-input-btn {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #283740;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.modal-input-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.modal-input-block,
.modal-input-avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.modal-input-avatar img {
    border-radius: 50%;
    margin: 0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.modal-input-avatar img:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

