/* Общий стиль */

.modal {
    position: fixed;           /* Привязка к вьюпорту */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;   /* Горизонтальное центрирование */
    align-items: center;       /* Вертикальное центрирование */
    z-index: 9999;             /* Поверх всего */
    overflow: hidden;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px); /* вот ключевое свойство */
    -webkit-backdrop-filter: blur(10px);
}


/* Модальное окно - уведомление */

.notice-modal-content {
    position: relative;
    width: 600px;
    height: 100px;
    background-color: #4F6273;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Общий стлиь - заголовок */

.modal-header {
    font-size: clamp(16px, 1.3vw + 0.3vh, 24px);
    margin: 0;
    color: #FFFBF4;
    text-align: center;
    line-height: 30px;
}


/* Общий стиль - кнопка закрыть */

.modal-close-button {
    background-color: #4F6273;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 0;
}

.modal-close-button:hover {
    box-shadow: 4px 4px 2px rgba(0,0,0,0.35);
    cursor: pointer;
}


/* Модальное окно - добавление */

.add-modal-content {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #4F6273;
    border-radius: 20px;
    padding: 15px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.add-modal-input-name,
.add-modal-input-btn {
    width: 300px;
    height: fit-content;
    padding: 5px 5px;
    border-radius: 20px;
    text-align: center;
}

.add-modal-input-name {
    background-color: #BFB1A4;
}

.add-modal-input-name p {
    color: #283740;
    font-size: clamp(12px, 0.9vw + 0.3vh, 18px);
    font-weight: 300;
    margin: 0;
}

.add-modal-input-btn {
    background-color: #283740;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.add-modal-input-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.add-modal-input-btn p {
    color: #FFFBF4;
    font-size: clamp(14px, 1.2vw + 0.3vh, 20px);
    font-weight: 500;
    margin: 0;
}

.add-modal-input-part,
.add-room-modal-input-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.add-room-modal-input-avatar {
    gap: 5px;
}

.add-room-modal-input-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.add-room-modal-input-avatar img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.add-room-modal-input-avatar p {
    color: #FFFBF4;
    font-size: clamp(13px, 1.0vw + 0.3vh, 18px);
    margin: 0;
}
