

.right-block-header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #BFB1A4;
  text-align: center;
  line-height: 60px;
}

.to-left-switch-btn {
  position: absolute;
  width: min(4.5vw, 50px);
  height: min(7vw, 50px);
  top: 62px;
  left: 1px;
  transform: translateX(-100%);
  background-color: #283740;
  border: none;
  border-radius: 5px 0 0 5px;
  text-align: center;
  transition: transform 0.2s ease;
}

.to-left-switch-btn img {
  display: block;
  width: calc(100% - 1px);
  height: auto;
  max-width: 32px;
}

.to-left-switch-btn:hover {
  transform: translateX(-100%) translateY(-2px);
  cursor: pointer;
}