.settings-case {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 10;

  opacity: 0;
  transform: translateY(-10px); /* чуть выше позиции */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Когда открыто */
.settings-case.open {
  opacity: 1;
  transform: translateY(0); /* возвращаем в позицию */
}

.settings-block {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #4F6273;
  border-radius: 20px 30px 30px 20px;
}

.settings-headder {
  margin: 0 20px;
  display: flex;
  align-items: end;
  height: 50px;
}

.settings-headder img {
  width: 32px;
  height: 32px;
}

.settings-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.settings-close-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.settings-device-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px 0;
}

.settings-device {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex:1;
  gap: 10px;
  width: 45%;
  align-items: flex-start;
}

.change-device {
  background-color: #283740;
  border: 2px solid #4F6273;
  border-radius: 10px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 5px;
}

.change-device img {
  width: 16px;
  height: 16px;
  margin-top: auto;
}

.settings-volume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.adv-settings-volume {
  margin: 0;
}

.settings-volume p {
  margin-bottom: 10px;
}

.adv-settings-btn {
  margin-top: 20px;
  margin-left: auto;
  height: 60px;
  width: fit-content;
  background-color: #BFB1A4;
  border-radius: 20px 0 20px 0;
  text-align: left;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.adv-settings-btn:hover {
  box-shadow: -1px 4px 6px rgba(0, 0, 0, 0.6);
}

.adv-settings-input-block {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-template-rows: repeat(2, auto);   /* ⬅️ 2 строки */
  grid-auto-flow: column;               /* ⬅️ ВАЖНО */
  gap: 24px 40px;
  margin-top: 25px;
  align-items: end;
}

.adv-settings-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.adv-settings-input-field {
  display: grid;
  grid-template-columns: 1fr auto; /* input | slot */
  align-items: center;
  gap: 10px;
  width: 100%;
}

.adv-settings-righ-slot {
  background-color: #BFB1A4;
  border-radius: 15px;
  margin-left: auto;
  height: 35px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adv-settings-save-btn {
  background-color: #4F6273;
  border-radius: 15px;
  border: none;
  padding: 5px;
  font-family: 'Comfortaa', sans-serif;
  font-size: clamp(14px, 1.0vw + 0.3vh, 18px);
  color: #FFFBF4;
  height: 35px;
}

.adv-settings-input-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid #BFB1A4;
    margin: 0 auto;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.adv-settings-input-img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}