.settings-case {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 90;

  opacity: 0;
  transform: translateY(-10px); /* чуть выше позиции */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Когда открыто */
.settings-case.open {
  opacity: 1;
  transform: translateY(0); /* возвращаем в позицию */
}

.settings-block {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #4F6273;
  border-radius: 20px 30px 30px 20px;
  z-index: 100;
}

@media (max-width: 768px) {
  .settings-block {
    border-radius: 20px;
  }
}

.settings-headder {
  margin: 0 20px;
  display: flex;
  align-items: end;
  height: 50px;
}

.settings-headder img {
  width: 32px;
  height: 32px;
}

.settings-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.settings-close-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.settings-device-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px 0;
}

.settings-device {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex:1;
  gap: 10px;
  width: 45%;
  align-items: flex-start;
}

.change-device {
  position: relative;
  background-color: #283740;
  border: 2px solid #4F6273;
  border-radius: 10px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px 5px;
  padding-right: 25px;
}

.change-device img {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  margin-top: auto;
}

.settings-volume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.adv-settings-volume {
  margin: 0;
}

.settings-volume p {
  margin-bottom: 10px;
}

.adv-settings-btn {
  margin-top: 20px;
  margin-left: auto;
  height: 60px;
  width: fit-content;
  background-color: #BFB1A4;
  border-radius: 20px 0 20px 0;
  text-align: left;
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.adv-settings-btn:hover {
  box-shadow: -1px 4px 6px rgba(0, 0, 0, 0.6);
}

.adv-settings {
  overflow-y: auto;
  overflow-x:hidden;
  scrollbar-width: thin;
  scrollbar-color: #BFB1A4 rgba(0,0,0,0);
}

.adv-settings::-webkit-scrollbar {
  width: 8px; /* ширина полосы */
}

.adv-settings::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 10px;
}

.adv-settings::-webkit-scrollbar-thumb {
  background-color: #BFB1A4; /* цвет ползунка */
  border-radius: 10px;
}

.adv-settings-input-block,
.adv-settings-input-username {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  grid-auto-flow: column;               /* ⬅️ ВАЖНО */
  gap: 15px 40px;
  margin-top: 25px;
  align-items: end;
}

.adv-settings-input-block {
  grid-template-rows: repeat(2, auto);
}

.adv-settings-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.adv-settings-input-field {
  display: grid;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.adv-settings-input-field.button-slot {
  grid-template-columns: 1fr minmax(20px, 20%);
}

.adv-settings-input-field.code-slot {
  grid-template-columns: 1fr 70px;
}

.adv-settings-save-btn,
.adv-settings-save-btn-mini {
  border-radius: 10px;
  border: none;
  padding: 5px;
  height: 35px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.adv-settings-save-btn {
  background-color: #4F6273;
  font-family: 'Comfortaa', sans-serif;
  font-size: clamp(14px, 1.0vw + 0.3vh, 18px);
  color: #FFFBF4;
}

.adv-settings-save-btn-mini {
  background-color: #BFB1A4;
}

.adv-settings-save-btn:disabled,
.adv-settings-save-btn-mini:disabled {
  opacity: 0.5;
  cursor: default;
}

.adv-settings-save-btn:not(:disabled):hover,
.adv-settings-save-btn-mini:not(:disabled):hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.adv-settings-input-img{
  margin: 0 auto;
}

.adv-settings-input-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:2px solid #BFB1A4;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.adv-settings-input-img img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}