.swipe-dots {
    position: absolute;
    bottom: 35px; /* или где тебе визуально удобнее */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 5;
}

.swipe-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(215, 217, 216, 0.3); /* неактивная */
    transition: background 0.2s ease, transform 0.2s ease;
}

.swipe-dot.active {
    background: #D7D9D8; /* активная */
    transform: scale(1.2);
}