.switch {
    display: flex;
    margin-top: auto;
    border-top: 2px solid #BFB1A4;
    width: 100%;
    height: 45px;
}

.entry-switch-btn-left,
.entry-switch-btn-center,
.entry-switch-btn-right,
.start-switch-btn-left,
.start-switch-btn-right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #283740;
    color: #BFB1A4;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.entry-switch-btn-left p,
.entry-switch-btn-center p,
.entry-switch-btn-right p{
    font-size: clamp(12px, 0.9vw + 0.3vh, 18px);
    font-weight: 500;
    margin: 0;
}

.start-switch-btn-left p,
.start-switch-btn-right p {
    font-size: clamp(14px, 1.2vw + 0.3vh, 20px);
    font-weight: 500;
    margin: 0;
}

.entry-switch-btn-left p:hover,
.entry-switch-btn-center p:hover,
.entry-switch-btn-right p:hover,
.start-switch-btn-left p:hover,
.start-switch-btn-right p:hover {
    font-weight: 700;
    transform: scale(1.05);
}


.entry-switch-btn-left {
    border-radius: 0 0 0 20px;
}

.entry-switch-btn-center {
    border-left: 2px solid #BFB1A4;
    border-right: 2px solid #BFB1A4;
    box-sizing: border-box;
}

.entry-switch-btn-right {
    border-radius: 0 0 20px 0;
}

.start-switch-btn-left {
    border-radius: 0 0 0 20px;
}

.start-switch-btn-right {
    border-radius: 0 0 20px 0;
}

.switch-btn-active {
    background-color: #BFB1A4 !important;
    color: #283740 !important;
}

.switch-btn-active p {
    font-weight: 700;
}