:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #D7D9D8 54%, #283740 100%);
  font-family: 'Comfortaa', sans-serif;
  z-index: 0;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  padding: 0 5%;
  box-sizing: border-box;
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
    gap: 10px;
  }
}
