:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #D7D9D8 54%, #283740 100%);
  font-family: 'Comfortaa', sans-serif;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  padding: 0 5%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.left-block {
  width: 100%;
  max-width: 450px;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}