.mini-voice-pannel {
  position: absolute;
  width: min(4.5vw, 50px);
  top: 170px;
  left: 0;
  transform: translateX(-100%);
}

.mini-voice-members,
.mini-voice-btns {
  background-color: #BFB1A4;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.mini-voice-members {
  padding: 5px 2px;
  box-sizing: border-box;
  max-height: 25vw;
  display: flex;
  flex-direction: column;
}

.mini-voice-btns {
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  padding: 5px 2px;
}

.mini-voice-btns button,
.mini-disconnect-btn,
.mini-voice-members-list-element button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.mini-voice-members-list-element button {
  height: fit-content;
}

.mini-disconnect-btn {
  margin-top: auto;
}

.mini-voice-btns button:hover,
.mini-disconnect-btn:hover,
.mini-voice-members-list-element button:hover {
  transform: scale(1.05);
}

.mini-voice-btns img,
.mini-disconnect-btn img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 24px;
}

.mini-voice-members-wrapper {
  position: relative;
  flex: 1;
}

.mini-voice-members-list {
  margin: 0;
  padding: 0 2px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;

  /* скрыть scrollbar */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* old Edge/IE */
}

.mini-voice-members-list::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}

.mini-voice-members-wrapper[data-show-gradient="true"]::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(191, 177, 164, 0),
    rgba(191, 177, 164, 1)
  );
}

.mini-voice-members-list-element {
  position: relative;
}


.open-demo-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 16px;
  height: auto;
  padding: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 200;
}

.open-demo-btn img {
  width: 16px;
  height: auto;
}

.voice-member-icon {
  display: block;
  margin: 0 auto;
  width: 96%;
  max-width: 32px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px #283740 solid;
}


