.mini-voice-pannel {
  position: absolute;
  width: min(4.5vw, 50px);
  height: fit-content;
  top: 160px;
  left: 0px;
  background-color: #BFB1A4;
  border: none;
  border-radius: 5px 0 0 5px;border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  cursor: pointer;
  padding: 5px 0;
  box-sizing: border-box;
}

.mini-voice-members-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x:hidden;
    scrollbar-width: thin;
}

.mini-voice-members-list-element img {
  display: block;
  max-width: 32px;
}


